<!DOCTYPE html>
<html lang="en" ng-app="juntosApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- materialize css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

  <!-- angular resource -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="app.js"></script>

  <!-- firebase -->
  <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

  <title>Juntos</title>
</head>