<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>MediaCzar</h1>
		<form ng-submit="searchMediaKid()" ng-hide="searchResults">
			<div class="form-group">
				<label for="search">Find something new</label>
				<input class="form-control" type="text" id="search" ng-model="searchTerm" autofocus>
			</div>
			<div class="form-group">
				<input class="form-control btn btn-success" type="submit" value="Search">
			</div>
		</form>
		<button class="btn btn-success" ng-click="newSearch()" ng-show="searchResults">New Search</button>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="page-header" ng-show="searchResults">Your search of <span class="bold">{{ data.Info[0].Name }}</span> resulted in {{data.Results.length }} results</h4>
	</div>
	<div ng-repeat="type in mediaType">
		<div class="col-md-8 col-md-offset-2">
		<h1 class="page-header">{{ type }}</h1>
			<div ng-repeat="result in data.Results | filter: result.Type ">
				<div class="mediaType" ng-if="result.Type == type">
					<p>{{ result.Name }} -- {{ result.Type }}</p>
					<p class="description">{{ result.wTeaser }}</p>
					<p>Wikipedia Page:<a href="{{ result.wUrl }}">{{result.Name}}</a></p>
					<br>
					<a href="{{result.yUrl}}">YouTube Video</a>
					<hr>	
				</div>
			</div>
		</div>	
	</div>
</div>
