#navbar {
	background-color: #483919;
}

.bold {
	font-weight: bold;
	font-style: italic;
}

.description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#video {
	width: 100%;
	height: 600px;
}