body {
	margin-top: 10px
}

#nav {
	text-align: left
}

#welcome-body {
	margin-top: 50px;
	text-align: center;
}

#chuck-background {
	width: 150px;
	margin: 4px;
	opacity: .5;
}

#chuck-background-2 {
	width: 300px;
	text-align: center;
	margin: 4px;
	opacity: .5;
}

#chuck-grid {
	margin: -10px;
}

#jokes-body {
	margin-top: 30px;
	margin-bottom: 500px;
	text-align: center
}

#jokes-pic {
	width: 450px;
}

.jokes-row {
	text-align: left;
}

#chuck-icon {
	width: 20px;
}

.jokes-gif {
	text-align: center;
}

#chuck-links {
	text-align: center;
	margin-top: 350px;
	margin-bottom: 10px;
}